.row {
  padding: 10px;
}

h1 {
  display: inline;
  font-family: 'Arima Madurai', cursive;
  text-align: center;
  text-decoration: overline red;
  justify-content: center;
}

.btn.btn-dark {
  margin-left: 280%;
  width: 90%;
}

.circulo {
  margin-top: 10%;
  width: 16%;
  display: flex;
  flex-direction: column;
  align-items: center;
}