.row {
    padding: 20px;
}

div {
    text-align: center;
}

/*Estilo de la foto de perfil*/
@media (min-width: 576px) {
    #fotodeperfil {
        position: absolute;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 20%;
        top: 530px;
    }
}

@media (max-width: 575px) {
    #fotodeperfil {
        position: absolute;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 40%;
        top: 500px;
        width: 25%;
    }
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: red;
}

.card {
    margin-left: 10%;
    margin-top: 4%;
}

.btn.btn-success {
    margin-left: 2700%;
    margin-top: 25%;
    
}

.nomtit {
    margin-top: 8%;
    margin-left: 20%;
}