.row {
  padding: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  display: inline;
  margin-top: 3%;
  font-family: 'Arima Madurai', cursive;
  text-align: center;
  text-decoration: overline red;
}

h2 {
  margin-left: 5%;
  text-align: center;
  font-family: 'Arima Madurai', cursive;
  font-size: 20px;
  color: black;
  margin-top: 30%;
}

h5 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
  font-size: 15px;
  margin-top: 8%;
}

.img-fluid {
  margin-top: 14%;
}