.row{
  padding: 20px;
  text-align: center;
}
h1 {
  display: inline;
  font-family: 'Arima Madurai', cursive;
  text-align: center;
  text-decoration: overline red;
  margin-top: 5%;
}

#proyec1 {
  margin-left: 10%;
  border-radius: 10px;
  border-style: double;
}

#descripcion {
  margin-top: 8%;
 margin-left: 10%;
}

#titulo {
  margin-top: 20%;
}
.btn.btn-outline-info.btn-sm {
  margin-left: -60%;
}
