.row{
  padding: 20px;
 
}

.circulo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
}

h1 {
  display: inline;
  font-family: 'Arima Madurai', cursive;
  text-align: center;
  text-decoration: overline red;
  justify-content: center;
}

.btn.btn-dark {
  width: 90%;
  margin-left: 280%;
}

.circulo {
  width: 16%;
  display: flex;
 
}