<div class="container" *ngIf="banner">
    <h1>BANNER</h1>
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="tituloB">Titulo</label>
                    <input type="text" class="form-control" id="tituloB" name="tituloB" [(ngModel)]= "banner.tituloB"
                        required>
                </div>
                <div class="form-group">
                    <label for="img">Imagen de Banner</label>
                    <input type="file" class="form-control" id="img" name="img"
                        [(ngModel)]= "banner.imgB" (change) ="uploadImage($event)"
                        accept=".jpg, .png, .jpeg">
                </div>
                <div class="imagen">
                    <img [src]="imageService.url">
                </div>
                <br>
                <button class="btn btn-primary">
                    Editar Banner
                </button>
            </form>
        </div>
    </div>
</div>

